body{
    background-color: #F6F8FA;
    margin: 0;
}
header{
    width: 100%;
    background-color: #fff;
    height: 100px;
}
/* background header */
#logo{
    background-color: #fff;
    padding: 20px;
    vertical-align: middle;
}
/* posizione scritta header */
#headtext{
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 30px;
}
/* background main */
main{
    background-color: #fff;
    margin: 100px 200px;
    border-radius: 10px;
    padding: 100px;
    height: 550px;
}
/* regole buttons */
#task{
    padding: 8px;
    background-color: #41AFEC;
    text-align: center;
    border-radius: 4px;
    border: 0px ;
    color: #fff;
}
#section{
    padding: 8px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: gray;
    border: 2px solid gray;
}
/* Assicurati che il simbolo di check sia inline */
.check::before {
    content: "\2713";  
    margin-right: 8px;  
    color: green;      
    font-size: 20px;    
    display: inline;
}

/* disposizione contenitore "check" inline*/
.check {
    display: inline;  
    align-items: center;   
}

.notcheck::before{
    content: "\003A7";  
    margin-right: 8px;  
    color: red;      
    font-size: 20px;    
    display: inline;
}

.notcheck{
    display: inline;  
    align-items: center;     
}

/* disposizione "h4" inline*/
h4 {
    display: inline;      
    margin-left: 5px;      
}

/* regole highlights blu pagina */
.highlights-blue{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #41AFEC;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole highlights viola pagina */
.highlights-purple{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #9C72E7;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole highlights verde pagina */
.highlights-green{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #68C0A8;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole highlights arancione pagina */
.highlights-orange{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #F79E33;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole highlights rosa pagina */
.highlights-pink{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #D664A7;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole highlights lime pagina */
.highlights-lime{
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #AEC927;
    display: inline;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}

/* regole lista */
.list{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 5px;
}
